export BINDIR=${BINDIR:${HOME}/.local/bin}
export GOCACHE=$(expand_path .cache/go)
export GOROOT="${BINDIR}/go/lib"
export GOPATH="${BINDIR}/go/local"
export GOPROXY=direct

PATH_add "${BINDIR}"
PATH_add .

if [ -e .envrc_custom ]; then
	. .envrc_custom
fi
